/* IMPORTED GOOGLE FONT FAMILIES */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Prompt', sans-serif; */

/* GLOBAL VARIABLES */
:root {
    --main: #1DB954;
    --secondary: #191414;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NAVIGATION */
.nav {
    overflow: hidden;
    background-color: var(--main);
    position: relative;
}

.nav #hamburger-links {
    display: none;
}

.nav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    display: block;
}

.nav a.icon {
    background: var(--main);
    color: var(--secondary);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* .nav a:hover {
    background-color: #ddd;
    color: black;
} */

.moodify-nav {
    font-family: 'Prompt', sans-serif;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);
    background-size: cover;
    height: 40vh;
}

.hero-content {
    text-align: center;
}

.hero-button {
    background: var(--main);
    border-style: none;
    border-radius: 20px;
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-decoration: none;
    padding: 10px;
}

.moodify-hero {
    font-family: 'Prompt', sans-serif;
}

#aggressive, #spooky {
    background: var(--secondary);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

.playlist-intro {
    text-align: center;
}

.playlist-header {
    color: var(--main);
    font-family: 'Montserrat', sans-serif;
    margin: 2px;
}

.playlist-photo {
    width: 120px;
}

.playlist {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    margin: 2% 0 2% 0;
    width: 100%;
    font-size: 12px;
}

.dark {
    border: 2px solid var(--main);
}

.light {
    border: 2px solid var(--secondary);
}

.song-dark {
    border: 1px solid var(--main);
    margin: 0;
    padding: 10px;
}

/* WHIMSICAL */
.playlist-header-light {
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
    margin: 2px;
}

.song-light {
    border: 1px solid var(--secondary);
    margin: 0;
    padding: 10px;
}

#whimsical {
    background: var(--main);
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

/* FOOTER */
.footer {
    align-items: center;
    background-color: var(--main);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 5vh;
    justify-content: center;
}

.footer-text {
    margin: 0;
}

/* TABLET MEDIA QUERY */
@media only screen and (min-width: 768px) {
    .playlist-photo {
        width: 210px;
    }

    .playlist {
        font-size: 15px;
    }
}

/* DESKTOP MEDIA QUERY */

@media only screen and (min-width: 992px) {
    
    .hero {
        height: 90vh;
    }

    .moodify-hero {
        font-size: 100px;
        margin: 0;
    }

    .hero-button {
        font-size: 20px;
    }

    #aggressive, #spooky {
        align-items: center;
        background: var(--secondary);
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
    }

    #whimsical {
        background: var(--main);
        color: black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
    }

    .playlist {
        height: 80vh;
        width: 50vh;
        flex-grow: 0;
    }

    .playlist-photo {
        width: 500px;
    }

    .playlist-header, .playlist-header-light {
        transform: scale(1.5);
        margin: 30px;
    }
}