/* IMPORTED GOOGLE FONT FAMILIES */
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Prompt', sans-serif; */

/* GLOBAL VARIABLES */
:root {
    --main: #1DB954;
    --secondary: #191414;
}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NAVIGATION */
.nav {
    overflow: hidden;
    background-color: var(--main);
    position: relative;
}

.nav #hamburger-links {
    display: none;
}

.nav a {
    color: white;
    padding: 1.25rem 1.5rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    display: block;
}

.nav a.icon {
    background: var(--main);
    color: var(--secondary);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.moodify-nav {
    font-family: 'Prompt', sans-serif;
}

/* HERO */
.hero {
    align-items: center;
    background: url(https://images.unsplash.com/photo-1458560871784-56d23406c091?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2767&q=80);
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.center {
    text-align: center;
}

.playlist-intro {
    width: 50%;
}

.hero-button {
    background: var(--main);
    border-style: none;
    border-radius: 20px;
    color: var(--secondary);
    font-family: 'Montserrat', sans-serif;
    font-size: .6rem;
    text-decoration: none;
    padding: .75rem;
}

.moodify-hero {
    font-family: 'Prompt', sans-serif;
    font-size: 2.5em;
    margin: 0;
}

/* DARK PLAYLISTS */

.playlist-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
}

#aggressive, #spooky {
    background: var(--secondary);
    color: white;
}

.playlist-photo {
    width: 65%;
}

.playlist {
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    margin: .5rem 0 .5rem 0;
    width: 99%;
    font-size: .7rem;
}

.dark-border {
    border: 2px solid var(--main);
}

.light-border {
    border: 2px solid var(--secondary);
}

.song {
    border-bottom: 1px solid white;
    margin: 0;
    padding: 1rem;
}

/* WHIMSICAL */
.playlist-header {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.text-main {
    color: var(--main);
}

.text-secondary {
    color: var(--secondary);
}

#whimsical {
    background: var(--main);
    color: black;
}

/* FOOTER */
.footer {
    align-items: center;
    background-color: var(--main);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 5vh;
    justify-content: center;
}

.footer-text {
    margin: 0;
}

/* TABLET MEDIA QUERY */
@media only screen and (min-width: 768px) {
    .moodify-hero {
        font-size: 3rem;
        margin: .5rem;
    }

    .hero-button {
        font-size: 1rem;
    }

    .playlist-header {
        margin-bottom: .75rem;
    }

    .playlist {
        font-size: 1rem;
    }
}

/* DESKTOP MEDIA QUERY */

@media only screen and (min-width: 992px) {
    
    .hero {
        height: 90vh;
    }

    .moodify-hero {
        font-size: 5rem;
        margin: .2rem;
    }

    .hero-button {
        font-size: 1.25rem;
    }

    .playlist-section {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100vh;
    }

    .playlist {
        height: 80vh;
        width: 40%;
        flex-grow: 0;
    }

    .playlist-header {
        transform: scale(1.5);
        margin-bottom: 1rem;
    }
}